.sinnig-calculator-form {
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 8px 5px #888;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  position: relative;
  width: 30%;
}

.sinnig-calculator-form input {
  border: 1px solid #888;
  border-radius: 5px;
  height: 25px;
  position: relative;
  padding: 0;
  margin-bottom: 1em;
  font-size: 12px;
  width: 100%;
}

.sinnig-calculator-form button {
  border-radius: 5px;
  background-color: #090;
  box-shadow: 0px 3px 5px #888;
  color: white;
  height: 25px;
  position: relative;
  width: 30%;
}

.sinnig-calculator-form button:hover {
  box-shadow: 0px 1px 5px #666;
  left: 0.5%;
  height: 24px;
  width: 29%;
  margin-bottom: 1px;
}

#total {
  float: right;
}

#disclaimer {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .sinnig-calculator-form {
    width: 75%;
  }
}

@media screen and (max-width: 850px) and (min-width: 651px) {
  .sinnig-calculator-form {
    width: 60%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 851px) {
  .sinnig-calculator-form {
    width: 45%;
  }
}
